In [1]:
import sqlite3

In [41]:
queries = {
    'CREATE_TABLE': 'CREATE TABLE IF NOT EXISTS {} ({})',
    'INSERT': 'INSERT INTO {} VALUES({})',
    'SELECT_ALL': 'SELECT {} FROM {}',
    'UPDATE': 'UPDATE {} SET {} WHERE {}',
    'DELETE': 'DELETE FROM {} where {}',
    'DROP_TABLE': 'DROP TABLE {}'
}

In [20]:
class Model(object):
    
    def __init__(self, data_file):
        self.db = sqlite3.connect(data_file, check_same_thread=False)
        self.data_file = data_file
    
    def execute(self, query, values=None, commit=False):
        cursor = self.db.cursor()
        if values:
            print(list(values))
            cursor.execute(query, list(values))
        else:
            cursor.execute(query)
        if commit:
            self.db.commit()
        return cursor
    
    def create_table(self, table_name, values):
        query = queries['CREATE_TABLE'].format(table_name, ','.join(values))
        print(query)
        cursor = self.execute(query, commit=True)
        cursor.close()
        
    def insert(self, table_name, *args):
        query = queries['INSERT'].format(table_name, ','.join('?' for _ in args))
        print(args)
        print(query)
        return self.execute(query, args, commit=True)
    
    def select_all(self, table_name):
        query = queries['SELECT_ALL'].format('*', table_name)
        print(query)
        return self.execute(query)
    
    def update(self, table_name, set_values, **kwargs):
        updates = ['{}=?'.format(k) for k in set_values]
        update_values = [set_values[k] for k in set_values]
        condition = ['{}=?'.format(k) for k in kwargs]
        condition_values = [kwargs[k] for k in kwargs]

        query = queries['UPDATE'].format(table_name, ', '.join(updates), ' and '.join(condition))
        print(query)
        return self.execute(query, update_values + condition_values, commit=True)
    
    def drop_table(self, table_name):
        query = queries['DROP_TABLE'].format(table_name)
        return self.execute(query)
        
    def disconnect(self):
        self.db.close()

In [21]:
values = ['user_name TEXT', 'password TEXT']
model_instance = Model('sql.data')
model_instance.disconnect()

In [22]:
model_instance = Model('sql.data')
model_instance.create_table('user_table', values)

CREATE TABLE IF NOT EXISTS user_table (user_name TEXT,password TEXT)

In [30]:
model_instance.insert('user_table','user3', 'password111')

('user3', 'password111')
INSERT INTO user_table VALUES(?,?)
['user3', 'password111']

In [53]:
cur = model_instance.select_all('user_table')

SELECT * FROM user_table

In [54]:
for i in cur:
    print(i)

('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user10', 'password')
('user3', 'qweqwe')

In [51]:
dic = {'password': 'qweqwe'}

In [52]:
model_instance.update(table_name = 'user_table', set_values = dic, user_name='user3')

UPDATE user_table SET password=? WHERE user_name=?
['qweqwe', 'user3']

In [226]:
def update(table_name, set_values, **kwargs):
    updates = ['{}=?'.format(k) for k in set_values]
    print(updates)
    values = [set_values[k] for k in set_values]
    print(values)
    condition = []
    for k in kwargs:
        condition.append('='.join([k, kwargs[k]]))
    print(' and '.join(condition))
        
    query = queries['UPDATE'].format(table_name, ', '.join(updates), ' and '.join(condition))
    print(query)

In [227]:
dic = {'user_name': 'user1', 'user_pass': 'name'}

In [228]:
update(table_name = 'table_name', set_values =dic , username = 'user1')

['user_name=?', 'user_pass=?']
['user1', 'name']
username=user1
UPDATE table_name SET user_name=?, user_pass=? WHERE username=user1

In [66]:
from datebase import Model
from sqlite3 import OperationalError, IntegrityError

In [67]:
class Todo(Model):
    def __init__(self, data_file, table_name, values):
        val = ['id int NOT NULL',
               'context TEXT NOT NULL',
               'completed boolean NOT NULL',
               'PRIMARY KEY(id)']
        super(Todo, self).__init__(data_file)
        self.create_table(table_name, values)
        self.table_name = table_name
    
    def add(self, id, text):
        self.close(self.insert(self.table_name, id, text, False))
    
    def show(self):
        cursor = self.select_all(self.table_name)
        result = cursor.fetchall()
        for r in result:
            print(r)
        cursor.close()
        
    def update(self, index, context, completed=False):
        set_values = {'context': context, 'completed': completed}
        cursor = self.update_item(table_name = self.table_name, set_values = set_values, id=index)
        cursor.close()
        
    def delete(self, index):
        cursor = self.delete_item(table_name = self.table_name, id=index)
        print(cursor)
        cursor.close()
        
    def destory_table(self):
        cursor = self.drop_table(self.table_name)
        cursor.close()

In [68]:
val = ['id int NOT NULL', 'context TEXT NOT NULL', 'completed boolean NOT NULL', 'PRIMARY KEY(id)']
table_name = 'todo_list'
todo = Todo('todo_list.data', table_name, val)
todo.destory_table()

CREATE TABLE IF NOT EXISTS todo_list (id int NOT NULL,context TEXT NOT NULL,completed boolean NOT NULL,PRIMARY KEY(id))
DROP TABLE todo_list

In [69]:
todo = Todo('todo_list.data', table_name, val)
todo.add(2, 'weqe')

CREATE TABLE IF NOT EXISTS todo_list (id int NOT NULL,context TEXT NOT NULL,completed boolean NOT NULL,PRIMARY KEY(id))
(2, 'weqe', False)
INSERT INTO todo_list VALUES(?,?,?)
[2, 'weqe', False]

In [70]:
todo.show()

SELECT * FROM todo_list
(2, 'weqe', 0)

In [71]:
todo.update(2, 'asdasda', False)

UPDATE todo_list SET context=?, completed=? WHERE id=?
['asdasda', False, 2]

In [72]:
todo.delete(2)

[2]

OperationalError: no such column: 'id=?'

In [46]:
def delete_item(table_name, **kwargs):
    condition = ['{}=?'.format(k) for k in kwargs]
    condition_values = [kwargs[k] for k in kwargs]
    query = queries['DELETE'].format(table_name, 'and '.join(condition))
    print(query)

In [47]:
delete_item(table_name = 'WWW', id=1)

DELETE FROM WWW where id=?